.div-contenedor {
    padding: 0.3rem 0.5rem 0rem 0.5rem;
    width: 18rem;
    background-color: rgba(255, 255, 255, 0.493);
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
}
h2{
    margin-bottom: 1rem;
}
img{
    padding-right: 0;
}

@media (min-width: 740px) {
   .div-contenedor {
    margin-top: 6rem;
    height: auto;
    width: 45rem;
   }
} 
 @media (min-width: 1600px) {
    .div-contenedor {
        margin-top: 6rem;
        width: 45rem;
        font-size: 1.2rem;
    }
 } 
