.tarjeta{
    padding: 0.5rem;
    margin: 5rem 1rem;
    width: 18rem;
}
img{
    margin-right: 0.5rem;
}
.boton{
    transition: box-shadow 0.1s;
}
.boton:hover {
    background-color: #f8dedf !important;
    color: black !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
@media (min-width: 740px) {
    .tarjeta {
        margin-top: 8rem;
    }
 } 
 @media (min-width: 1028px) {
    .tarjeta {
        margin-top: 4.5rem;
    }
 } 
 @media (min-width: 1600px) {
    .tarjeta {
        margin-top: 8rem;
    }
 } 
