.tarjeta{
    padding: 0.5rem;
    margin: 5rem 1rem;
    width: 18rem;
}
img{
    margin-right: 0.5rem;
}
.boton:hover {
    background-color: #f8dedf !important;
    color: black !important;
}
@media (min-width: 740px) {
    .tarjeta {
        margin-top: 8rem;
    }
 } 
 @media (min-width: 1600px) {
    .tarjeta {
        margin-top: 8rem;
    }
 } 
