.contenedor-contact{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.836);
    padding-bottom: 1.5rem !important;
}
.dark .contenedor-contact{
    background-color: rgba(125, 125, 125, 0.836);
}
.dark .text-muted {
    color: rgb(204, 204, 204) !important;
}
.boton-send{
    background-color: #F8DEDF !important;
    color: black !important;
}
.my-text-area{
    max-height: calc(1em * 1.5 * 7);
}


@media (min-width: 740px) {
    .contenedor-contact {
        width: 22rem;
        margin-top: 5rem !important;
        width: 32rem !important;
        font-size: x-large;
        padding-bottom: 1.5rem !important;
        background-size: fit-content;
    }
 } 

 @media (min-width: 1200px) {
    .contenedor-contact {
        width: 40rem !important;
        height: auto;
        margin-top: 5rem !important;
        font-size: x-large;
        margin-bottom: 3rem;
    }
 } 
