.nav-link {
    color: #000; /* Color inicial */
    font-weight: normal; /* Peso de fuente inicial */
    transition: color 0.3s ease, font-weight 0.3s ease; /* Transición suave */
  }
  .nav-link.active {
    font-weight: bold;
  }
img {
    padding-right: 0.5rem;
}
.trasnslate-button {
    box-sizing: none;
    size: 50% !important;
 }
 .NavigationBar {
     display: flex;
     flex-direction: row;
 }
.btn-link{
    color: black !important;
    text-decoration: none !important;
}

@media (min-width: 991px) {
    .NavigationBar {
       display: flex;
       flex-direction: row-reverse;
        }
    .trasnslate-button {
        margin-right: 5rem;
        margin-left: 3rem;
         }
}
