img {
    padding-right: 0.5rem;
}
.trasnslate-button {
    box-sizing: none;
    size: 50% !important;
 }
 .dark .trasnslate-button-link {
    color: white !important;
 }
 .dark .trasnslate-button-link:hover {
    background-color: white;
    color:#000000 !important;
    border-radius: 10px;
 }
 .NavigationBar {
     display: flex;
     flex-direction: row;
 }
.btn-link{
    color: black !important;
    text-decoration: none !important;
}
.form-check-input:checked {
    background-color: #F8DEDF !important;
    border-color:  #F8DEDF !important;
}
.dark .form-check-input:checked {
    background-color: #000000 !important;
    border-color:  #000000 !important;
}
.active{
    color:rgb(252, 164, 215) !important;
    font-weight: bold;
}
.dark{
    .navbar {
        background-color: pink;
        position: fixed;
        top: 0 !important;
      }
}

@media (min-width: 991px) {
    .NavigationBar {
       display: flex;
       flex-direction: row-reverse;
        }
    .trasnslate-button {
        margin-right: 5rem;
        margin-left: 3rem;
         }
}

.dark .me-auto.my-2.my-lg-0 .nav-link {
    color: white; 
  }
