img {
    padding-right: 0.5rem;
}
.trasnslate-button {
    box-sizing: none;
 }

 .NavigationBar {
     display: flex;
     flex-direction: row;
 }
.btn-link{
    color: black !important;
    text-decoration: none !important;
}
.form-check-input:checked {
    background-color: #F8DEDF !important;
    border-color:  #F8DEDF !important;
}
.active{
    color:rgb(252, 164, 215) !important;
    font-weight: bold;
}
@media (min-width: 991px) {
    .NavigationBar {
       display: flex;
       flex-direction: row-reverse;
        }
}
