
.Container-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 165px) !important;
}
.Intro{
    margin-left: 4.5rem;
    margin-right:2rem;
}

@media (min-width: 740px) {
.Intro{
    max-width: 140rem;
    padding-left: 35rem;
    padding-right: 5rem;
}
.Container-name{
    width: 100%;
}
}